@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

body {
    background-color : skyblue;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* calendarContainer에만 흰색 배경 적용 */
.calendarContainer {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    border-radius: 10px; /* 라운드 코너 추가 */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px; /* 라운드 코너 추가 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    background-color: #fff; /* 배경 색 변경 */
    font-size: 1.5em;
}

.button {
    background-color: white;  /* 배경 색을 흰색으로 설정 */
    cursor: pointer;
    font-size: 1em;
    border: 1px solid #ddd; /* 테두리 색 변경 */
    border-radius: 5px; /* 라운드 코너 추가 */
    padding: 8px 12px; /* 내용과 테두리 간 여백 조절 */
}

button:hover {
    background-color: lightgray;
}

.main-container{
    background-color: white;
    border: 2px solid black;
    padding: 30px; /* 여백 늘리기 */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* 상단 여백 추가 */
    margin-bottom: 20px; /* 하단 여백 추가 */
    height: 570px;
}

#dateInfo, #months {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 6.4px; /* 원하는 간격으로 조정 */
}

#months {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* 월이 다음 줄로 넘어갈 수 있도록 설정 */
    justify-content: flex-start;
    margin-bottom: 20px;
    font-size: 1.2em;
    align-items: center;
    cursor: pointer;
}

/* 글꼴 크기 조절 */
#calYear,
#months,
#prevYear,
#nextYear,
#months span,
.selectedMonth {
    font-size: 1.4em; /* 원하는 크기로 조절 */
}

#dateInfo {
    font-size: 2em;
}

#calYear, #dateInfo span, #months span {
    margin-right: 10px;  // 원하는 간격으로 조정
    text-align: left;
}

#prevYear, #nextYear {
    cursor: pointer;
}

td {
    width: 70px; /* 셀 너비 늘리기 */
    height: 70px; /* 셀 높이 늘리기 */
    font-size: 1.1em; /* 글꼴 크기 키우기 */
}

.Calendar {
    text-align: center;
    width: 100%; /* 테이블이 전체 너비를 차지하도록 설정 */
    border-collapse: collapse; /* 테이블 셀 사이의 간격 제거 */
}

.Calendar>thead>tr:first-child>td {
    font-family: 'Questrial', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

.Calendar>thead>tr:last-child>td {
    font-family: 'Questrial', sans-serif;
    font-weight: 600;
}

.Calendar>tbody>tr>td>p {
    font-family: 'Montserrat', sans-serif;
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition-duration: .2s;
    line-height: 45px;
    margin: 2.5px;
    display: block;
    text-align: center;
}

.Calendar th, .Calendar td {
    padding: 10px; /* 셀 여백 늘리기 */
}

.pastDay {
    color: #bbb;
}

.today {
    background-color: #ffd54f;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.futureDay {
    background-color: #FFFFFF;
    cursor: pointer;
    transition: background 0.2s;
}
.futureDay:hover{
    background:#eee;
}

.futureDay.choiceDay,
.today.choiceDay {
    background: #0A174E;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

.choiceDay {
    background-color: #0A174E;
    color: #ffffff;
    font-weight: 600;
}

.dateCell {
    cursor: pointer;
}

.selectedMonth {
    color: cornflowerblue;
}